<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホテル管理</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="phone-frame">
        <div class="content">
            <h1>ホテル管理システム</h1>
            <div class="buttons">
                <a href="https://5f844138-3427-4b22-9c67-5117f99888b9-00-2jci6svpxozho.sisko.replit.dev:5000/" class="button">備品</a>
                <a href="https://49a7593d-ad3f-471a-8fca-882c699044b2-00-340vfs2n6n0ms.pike.replit.dev/" class="button">忘れ物</a>
            </div>
        </div>
    </div>
</body>
</html>